@font-face {
    font-family: "Involve-Bold";
    src: url("../fonts/Involve-Bold.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Involve-Medium";
    src: url("../fonts/Involve-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Involve-Regular";
    src: url("../fonts/Involve-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "Involve-SemiBold";
    src: url("../fonts/Involve-SemiBold.ttf") format("truetype");
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: Involve-Regular, sans-serif;
    color: #050301;
}

body.no-scroll {
    overflow: hidden;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Involve-Regular, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.df {
    display: flex;
}

.dn {
    display: none;
}
.f-column{
    flex-direction: column;
}

.a-center {
    align-items: center;
}
.a-end{
    align-items: flex-end;
}
.j-spc-btw {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.t-center {
    text-align: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.j-end{
    justify-content: flex-end;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
}
.btn{
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    transition: all .3s;
    font-family: Involve-Medium, sans-serif;
    font-weight: 500;
}
.btn__orange{

    padding: 10px 32px;

    background: #f5841f;

    border-radius: 28px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;
    text-align: center;

    color: #ffffff;
}
.btn__more{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    color: #787878;
    gap: 4px;
}
.btn__more:hover{
    color: #f5841f;
}
.btn__more:hover path{
    stroke: #f5841f
}
.btn__orange--outline{
    border: 1px solid #f5841f;
    border-radius: 28px;
    padding: 10px 32px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -0.3px;
    text-align: center;
    color: #f5841f;
}

.btn__submit{
    padding: 20px 60px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #f5841f;
    width: 100%;
}
.btn__menu{
    display: none;
}
footer{
    border-top: 1px solid #D2D2D2;
    background: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.breadcrumbs{
    margin-top: 20px;
    margin-bottom: 30px;
}
.breadcrumbs__list{
    gap: 26px;
}
.breadcrumbs__link{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    transition: all .3s;
    color: #050301;
    position: relative;
}
.breadcrumbs__link:hover{
    color: #f5841f;
}
.breadcrumbs__link:after{
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    right: -20px;
    background: url('../images/slash.svg') no-repeat;
}
.breadcrumbs__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #787878;
}
.checkbox-label {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFEAD7;
    user-select: none;
}
.checkbox-label a{
    color: #FFFFFF;
    text-decoration: underline;
}
.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 14px;
    width: 14px;
    background: transparent;
    border: 1px solid #FAF9F9;
    border-radius: 2px  ;
}

.checkbox-label:hover input ~ .checkmark {

}

.checkbox-label input:checked ~ .checkmark {
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-label .checkmark:after {
    left: 4px;
    top: 1px;
    width: 3px;
    height: 6px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.pb-100{
    padding-bottom: 100px;
}
section.bg-white{
    background: #fff;
}
section.bg-gray{
    background: #FAF9F9;
}
section.bg-green{
    background: #F1F8ED;
}
.section__title.small{
    font-size: 56px;
    line-height: 72px;
}
.medium{
    font-family: Involve-Medium, sans-serif;
    font-weight: 500;
}